* {
  button {
    border: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
body {
  background-color: #7ebb54;
  font-family: "Galmuri14", sans-serif;
  width: 100%;
  height: 100vh;
}

#wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: space-between;

  > div {
    width: 480px;
    height: 100%;
    background-color: #fff;
    padding: 40px 60px;
    box-sizing: border-box;
    h2 {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 30px;
    }
  }
  > .spring {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    background-color: transparent;
    margin: auto;
    width: 130px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        width: 25px;
        height: 25px;
        background-color: #7ebb54;
        border-radius: 100%;
      }
    }
    > .springs {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 292px;
      div {
        width: 88%;
        height: 18px;
        margin: 0 auto;
        border-radius: 10px;
        background-color: #58575a;
      }
    }
  }
}

.calendar-container {
  margin-bottom: 40px;
  .select-month {
    display: flex;
    width: 350px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h3 {
      font-size: 24px;
      font-weight: 700;
    }
    button {
      width: 24px;
      height: 24px;
      text-align: center;
    }
  }
  .days-container {
    width: 350px;
    margin: auto;
    position: relative;
    .days {
      display: grid;
      width: 300px;
      margin: auto;
      grid-template-columns: repeat(7, 1fr);
      .day {
        position: relative;
        text-align: center;
        height: 45px;
        font-size: 20px;
        line-height: 45px;
        &:nth-child(7n + 1) {
          color: #ed2a61;
        }
        &:nth-child(7n) {
          color: #3c6ffa;
        }
        &.today::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-image: url("/images/today.png");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
      .disable {
        opacity: 0.3;
      }
    }
  }
}
.advice-container {
  p {
    margin-top: -10px;
    font-size: 22px;
    line-height: 1.6;
  }
}
.todo-container {
  margin-top: 30px;
  position: relative;
  .todo-list {
    width: 100%;
    height: 312px;
    margin: auto;
    padding-right: 12px;
    overflow-y: auto;
    li {
      display: flex;
      padding-bottom: 8px;
      border-bottom: 1px solid #333;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }

      input#chk_done {
        display: none;
      }
      input#chk_done + label {
        cursor: pointer;
        height: 30px;
        margin-right: 10px;
      }
      input#chk_done + label::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url("/images/done.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      input#chk_done:checked + label::before {
        background-image: url("/images/done-active.png");
      }
      p {
        width: 82%;
        line-height: 30px;
        span {
          font-size: 22px;
          display: inline-block;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            width: 0;
            height: 2px;
            background-color: black;
            transition: width 0.6s ease;
          }
        }
        &.done > span::after {
          width: 100%;
        }
      }
      .btns {
        display: flex;
        width: 18%;
        justify-content: space-between;
        button {
          display: block;
          width: 30px;
          height: 30px;
          padding: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
          transition: all 0.2s ease;
          background-size: cover;
          background-position: center;
        }
        .btn--edit {
          background-image: url("/images/edit.png");
          margin-right: 8px;
          &:hover {
            background-image: url("/images/edit-active.gif");
          }
        }
        .btn--delete {
          background-image: url("/images/trash-bin.png");
          &:hover {
            background-image: url("/images/trash-bin-active.gif");
          }
        }
      }
    }
    &::-webkit-scrollbar {
      width: 8px;
      box-sizing: border-box;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #73b730;
      background-clip: padding-box;
    }
  }
  .select-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;

    .categories {
      display: flex;

      .select-box {
        position: relative;
        width: 100px;
        height: 30px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 16px;
        background: url("/images/arrow.png") calc(100% - 7px) center no-repeat;
        background-size: 14px;
        .select-label {
          border: 3px solid #8ec96d;
          border-radius: 4px;
          display: flex;
          padding-left: 10px;
          align-items: center;
          font-family: inherit;
          width: 100%;
          height: 100%;
          font-size: inherit;
        }
        .select-option-list {
          position: absolute;
          z-index: 1;
          top: 40px;
          left: 0;
          width: 100%;
          height: 0;
          overflow: hidden;
          background: #8ec96d;
          border-radius: 4px;
          transition: height 0.2s ease-in;
          .option-item {
            font-size: 16px;
            border-bottom: 1px dashed green;
            padding: 6px 10px;
            transition: all 0.1s ease;
            &:last-child {
              border-bottom: none;
            }
            &:hover {
              color: white;
              background-color: #57a246;
            }
          }
        }
        &.view-select.active .select-option-list {
          height: 86px;
        }
        &.sort-select.active .select-option-list {
          height: 58px;
        }
      }
      .view-select {
        margin-right: 10px;
      }
    }
    .delete-all-btn {
      display: flex;
      width: 100px;
      height: 30px;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 16px;
      color: white;
      border: 3px solid transparent;
      background-color: #e66457;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      font-family: inherit;
      transition: all 0.2s ease-in;
      &:hover {
        border-color: #e66457;
        color: #e66457;
        background-color: transparent;
      }
    }
  }
}

.btn--add {
  position: absolute;
  top: 35px;
  right: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: none;
  background-color: #03ac13;
  border-radius: 100%;
  span {
    font-size: 40px;
    color: white;
  }
  &:hover {
    box-shadow: inset 6px 6px 12px #039210, inset -6px -6px 12px #03c616;
  }
}

.icons_copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 10px;
  z-index: -1;
  a {
    text-decoration: none;
  }
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  &.active {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .modal-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .modal-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 40px;
    background-color: #fff;
    padding: 50px 60px;
    box-sizing: border-box;

    form {
      text-align: center;
      h2 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
      }
      input {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #58575a;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        font-family: inherit;
        font-size: 30px;
        margin-bottom: 30px;
        color: #aaa;
        &:focus {
          outline: none;
          color: #333;
        }
        &.alert::placeholder {
          color: #ff5252;
        }
      }

      button {
        display: inline-block;
        width: 160px;
        margin: auto;
        height: 60px;
        border-radius: 30px;
        border: 4px solid transparent;
        background-color: #03ac13;
        font-size: 30px;
        font-family: inherit;
        color: white;
        font-weight: 700;
        transition: all 0.2s ease-in;

        &:hover {
          color: #039210;
          border-color: #03ac13;
          background-color: transparent;
        }
      }
    }
    .deleteAll-todo {
      h2 {
        font-size: 28px;
        color: red;
        margin-bottom: 50px;
      }
      p {
        font-size: 24px;
        text-align: center;
        margin-bottom: 50px;
      }
      button {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
          background-color: transparent;
          border-color: #03ac13;
          color: #03ac13;
          &:hover {
            background-color: #03ac13;
            color: white;
          }
        }
      }
    }
  }
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background-color: #fff;
  .loader {
    color: #039210;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
  }

  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
        0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
        0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
        0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em,
        2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em,
        -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
        0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
}
