/* variables */

$main: #7ebb54;
$white: #fff;
$spring: #58575a;
$calendar_red: #ed2a61;
$calendar_blue: #3c6ffa;
$loader: #009a5c;
$black: #333;
$delete_red: #e66457;
$add_green: #03ac13;
$orange: #ff9d04;
$border: #58575a;
$placeholder: #aaa;
$placeholder_red: #ff5252;
$select_lightgreen: #8ec96d;
$select_dot: green;
$select_hover: #57a246;
$todo_hover: #e5ffe9;
